<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Humane - Email Verification</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
         .container{
         padding-left: 0px;
         padding-right: 0px;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <div class="col-md-6 col-md-offset-3">
            <br>
            <h3 class="text-center">Your account has been deleted by your past response..</h3>
            <br>
            <p class="text-center">Use the link given below to login to the Humane website</p>
			<br>
            <p class="text-center"><a href="http://vuramdevdb.vuram.com:8000/html/homePage/">Humane</a></p>
            <br>
            <br><br>
         </div>
      </div>
   </body>
</html>