.main-item-image{
    width: 200%;height:150px;
}

.donate-button{
    height:30px;
    padding-top:5px;
    margin-top:5px;
}
.card-panel-heading{
    height: 5px;
    padding:0;
}

.promised-date-padding{
    margin-bottom: 0px;
}

.table-header-color{
    background-color:lavender;
}

.table-data-font{ 
    font-weight: bold;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}