{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Humane - Forgot Password Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static "assests/JS/humane.js"%}"></script>
  <script src="{% static "assests/JS/navigation.js"%}"></script>
  <link rel="stylesheet" href="{% static "assests/CSS/humane.css"%}">
	
<style>
    
    .panel{
        margin-top: 5%;
    }
    .form-padding{
        padding: 15px;
    }
</style>
</head>
<body>
{% include "common\navigation-bar.html" %}
    <div class="container" >
		<div class ="loader"></div>
          <div class="col-md-6 col-md-offset-3 boxStyle" style="padding-right: 0px!important;padding-left: 0px!important;">
        <div class=" panel panel-default form-padding">
            <form class="form-horizontal " id="reset-password-form">
                
                <img src="{% static "assests/Images/forgot_password.png"%}" class="img-rounded center-block" alt="Change Password" style="width: 200px;margin-bottom: 20px">
           
        
           <div class="form-group">
                    <label class="control-label col-sm-5" for="new-password">New  Password:</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="new-password" placeholder="Enter your new password">
                    </div>
          </div>
          
           <div class="form-group" >
                    <label class="control-label col-sm-5" for="confirm-password">Confirm Password:</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="confirm-password" placeholder="Re-enter your new password">
                    </div>
          </div>
                 <div class="col-sm-offset-5 text-center">
                        <button type="reset" class="btn btn-danger" id = "clear-btn" data-toggle="tooltip" title="Click to clear all the fields">Clear</button>
                     <button onclick="resetPassword()" class="btn btn-success " id = "reset-btn"  data-toggle="tooltip" title="Click to change the password ">Done</button>
                    </div>

    
    </form>
    
      </div>
    </div>
    </div>
    
</body>

<script>
    $(document).ready(function() {
        $(".loader").hide();
		
		$("#reset-password-form").submit(function(){
  return false;
});
    });

    function resetPassword() {
      
	    var data  ={
		uuid_value :getCookie("uuid"),
		otp : getCookie("otp"),
		email : getCookie("email"),
		new_password : $("#new-password").val(),
		}
        console.log("user email", JSON.stringify(data))
        $.ajax({

            type: "POST",
            beforeSend: function() {
                $("#clear-btn").prop('disabled', true);
				$("#reset-btn").prop('disabled', true);
                $(".loader").show();
            },
            url: '/otp/forgotPassword/',
            data: data,
            success: function(response) {
                window.location = "/login"
				deleteCookie("token","",-1);
				deleteCookie("otp","",-1);
				deleteCookie("email","",-1);
				deleteCookie("uuid","",-1);
            },
            error: function(response) {

                console.log("response while resetting password " + response.error)
               $("#clear-btn").prop('disabled', false);
				$("#reset-btn").prop('disabled', false);
                $(".loader").hide();
            },
        });
    }

</script>

</html>