{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Humane - Organisation Goods Detail Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="{% static "assests/CSS/humane.css"%}">
	<script src="{% static "assests/JS/humane.js"%}"></script>
	<script src="{% static "assests/JS/navigation.js"%}"></script>
	<script src="{% static "assests/JS/organisationGoodsDetail.js"%}"></script>
	<script src="{% static "assests/JS/markDonationReceived.js"%}"></script>


	<style>
		.card {
			margin-top: 1%;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
			transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
		}

		.close-button-padding {
			margin-bottom: 3%;
		}

	</style>
</head>

<body id="org-goods-detail">
{% include "common\navigation-bar.html" %}
	<div class="container">

		<div class="card col-md-6 col-md-offset-3">

			<div class="media ">
				<div class="media-left media-middle">
					<img id="main-item-image" class="media-object thumbnail" style="width:80px">
				</div>
				<div class="media-body ">
					<br>
					<h4 class="media-heading text-center" id="main-item-name"></h4>

					<table class="table table-padding table-hover table-responsive">
						<tbody>
							<tr>
								<td class="col-md-3 text-center">Posted Date</td>
								<td class=" col-md-3 text-center ">Deadline date</td>
							</tr>
							<tr>
								<td class="col-md-3 text-center"><strong id="postedDate"></strong></td>
								<td class=" col-md-3 text-center "><strong id="deadline"></strong></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<hr>
			<h3>Goods Needed:</h3>
			<div id="itemsRequired">
				<div class="loader"></div>
			</div>
			<button type="button" class="btn btn-success center-block" data-toggle="tooltip" title="Click to close the goods" id="close-goods-btn">Make Goods Satisfied</button>
			<br>
		</div>
	</div>
	<div class="container">
		<div class=" col-md-12">
			<h3>Donation(s)</h3>
			<hr>
			<div class="row" id="promised-donation-card"></div>
			<div class="modal fade" id="donation-detail-modal" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body">
							<div class="container">
								<div class="col-md-9">

									<div class="media ">
										<div class="pull-right">
											<h4 style="margin-bottom: 0px;">Promised Date</h4>
											<h5 class="text-center" id="user_promised_date"></h5>
										</div>
										<div class="media-left media-bottom">
											<img id="user_image" class="media-object thumbnail" style="width:100px; height: 100px;margin-right:6px">
										</div>
										<div class="media-body ">
											<h4 id="user_name"></h4>
											<h5 id="user_email"></h5>
											<h5 id="user_mobile"></h5>
											<h5 id="donation_id"></h5>
											<h5 id="status"></h5>


										</div>
									</div>

									<hr>

									<h4 class="text-center">Contribution List</h4>
									<table class="table table-responsive table-bordered">
										<thead>
											<tr>
												<th class="text-center">Sub Category One</th>
												<th class="text-center">Sub Category Two</th>
												<th class="text-center">Quantity</th>
											</tr>
										</thead>
										<tbody id="contribution-list"></tbody>
									</table>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-success" id="received_btn">Received</button>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center" id="promised_donation_pagination"></div>
		</div>
	</div>


</body>
<script type="text/javascript">
	$(document).ready(function() {
		$("#org-goods-detail").hide();

		var baseUrl = document.URL;
		var id = baseUrl.substring(baseUrl.lastIndexOf('=') + 1);

		{%	if user.is_authenticated %}
		if ({{user.role.user_role_id}} == REGISTERED_COORDINATOR) {
			loadOrganisationGoodsDetail(id);
		} else {
			alert("You must be logged in as a register coordinator to view this page");
			window.location.href = "/login";
		} {% else %}
		alert("You must be logged in as a register coordinator to view this page");
		window.location.href = "/login"; 
		   {% endif %}
		
		$("#close-goods-btn").click(function() {
			closeGoods(id);
		});

	});

</script>

</html>
